<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/output.css') }}">
    <title>{% block title %}{% endblock %} - CSV Handler</title>
    {% endblock %}
</head>

<body class="min-h-screen flex flex-col bg-gray-100">

    {% include 'components/_header.html' %}

    <main class="flex-1 flex items-center justify-center px-4 py-8">
        <div class="w-full max-w-2xl mx-auto">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    {% include 'components/_footer.html' %}

    <script src="{{ url_for('static', filename='js/csv-upload-changer.js') }}"></script>

</body>

</html>