{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<div class="w-full max-w-2xl mx-auto">
  <div class="bg-white rounded-lg shadow-sm p-8">
    <form
      class="bg-white border-gray-300 hover:border-gray-400 border-2 border-dashed rounded-lg text-center transition-colors"
      action="">
      <label for="csv-upload" class="block text-sm font-medium text-gray-700 cursor-pointer p-12">
        <div class="flex justify-center">
          <svg class="mx-auto h-12 w-12 mb-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" class="lucide lucide-upload-icon lucide-upload">
            <path d="M12 3v12" />
            <path d="m17 8-5-5-5 5" />
            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
          </svg>
        </div>
        <input type="file" id="csv-upload" name="csv-upload" accept=".csv" class="hidden" />
        <p>Arraste e solte seu arquivo aqui, ou clique para selecionar um arquivo.</p>
        <p class="mt-2"><small class="">Suportado: .csv | Tamanho máximo: 5MB</small></p>
      </label>
    </form>
    <div class="mt-6 flex justify-end">
      <button type="submit"
        class="lg:px-6 px-4 py-2 bg-gray-400 text-white rounded-md hover:bg-gray-700 transition-colors cursor-pointer">
        Enviar Arquivo
      </button>
    </div>

  </div>
</div>
{% endblock %}