body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #d29dc3;
}

h1 {
  color: #333333;
}

.important {
  color: #336699;
}

.importants {
  color: #ff5733;
  font-weight: bold;
}

#content {
  padding: 10px;
  background-color: #d8d3d3;
  border: 1px solid #dddddd;
}

#footer {
  text-align: center;
  font-size: 12px;
  color: #70a553;
}
