<header class="sticky top-0 z-10 bg-white border-b border-gray-200 px-12 py-4">
    <nav class="flex justify-between items-center mx-auto">
        <div class="flex-shrink-0">
            <!-- Exemplo de link usando o Blueprint 'main' -->
            <a href="{{ url_for('main.index') }}" class="text-xl font-semibold text-gray-900">
                CSV Handler
            </a>
        </div>
        <div class="hidden md:block">
            <a href="{{ url_for('main.index') }}"
                class="text-gray-700 hover:bg-gray-50 px-3 py-2 rounded-md text-sm font-medium">Home</a>
            <!-- Exemplo de link usando o Blueprint 'csv' -->
            <a href="{{ url_for('csv.select_columns') }}"
                class="text-gray-700 hover:bg-gray-50 px-3 py-2 rounded-md text-sm font-medium">Processar CSV</a>
        </div>
        <div class="flex justify-end items-center space-x-2">
            <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-message-circle-question-mark-icon lucide-message-circle-question-mark">
                <path
                    d="M2.992 16.342a2 2 0 0 1 .094 1.167l-1.065 3.29a1 1 0 0 0 1.236 1.168l3.413-.998a2 2 0 0 1 1.099.092 10 10 0 1 0-4.777-4.719" />
                <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3" />
                <path d="M12 17h.01" />
            </svg>
            <button class="gap-1">Ajuda</button>
        </div>
    </nav>
</header>